<%= form_with(model: task, id: 'task_form') do |f| %>
  <div class="flex">
    <%= render(TextInputComponent.new(name: :title, form: f, placeholder: "Add Todo")) %>
    <%= render(AddButtonComponent.new) %>
  </div>
<% end %>
