<%= form_with(model: task, url: in_backlog_tasks_path, id: 'in_backlog_task_form') do |f| %>
  <div class="flex">
    <%= render(TextInputComponent.new(name: :title, form: f, placeholder: "Add to Backlog")) %>
    <%= render(AddButtonComponent.new) %>
  </div>
<% end %>
