<div class="flex w-full gap-x-3">
  <div class="flex-none">
    <%= render(CheckerComponent.new(action: task_path(task, status: :completed))) %>
  </div>
  <div class="flex-1">
    <%= task.title %>
  </div>
  <div class="flex-1 text-right">
    <%= button_to 'Cancelled', task_path(task, status: :cancelled), method: :patch, class: "p-1 text-red-500 bg-transparent border-2 border-red-500 rounded hover:text-white hover:bg-red-500 cursor-pointer" %>
  </div>
</div>
