<%= turbo_stream_from :repeats %>
<div class="container mx-auto flex flex-col content-center mt-5 lg:mt-10">
  <!-- header -->
  <h2 class="text-xl text-center mb-2">Repeats</h2>

  <!-- form -->
  <div class="mb-2">
    <%= render partial: 'repeats/form', locals: { repeat: repeat } %>
  </div>

  <!-- list -->
  <div>
    <%= turbo_frame_tag :repeats do %>
      <%= render repeats %>
    <% end %>
  </div>
</div>
