<div class="flex px-5">
  <div class="flex-1">
    <%= render partial: 'tasks', locals: { task: @task, tasks: @tasks } %>
  </div>
  <div class="flex-1 text-center">
    Repeats
  </div>
  <div class="flex-1 text-center">
    Events
  </div>
  <div class="flex-1 text-center">
    <%= render partial: 'backlog', locals: { backlog_task: @backlog_task, backlog_tasks: @backlog_tasks } %>
  </div>
</div>
