<%= form_with(model: event, id: 'event_form') do |f| %>
  <div class="flex">
    <%= render(TextInputComponent.new(name: :title, form: f, placeholder: "Add Event")) %>
    <%= f.datetime_field :datetime, class: "input input-bordered input-primary w-full mr-2" %>
    <%= render(AddButtonComponent.new) %>
  </div>
<% end %>
